/node_modules/*
/coverage/*
/build/*
/dist/*
/packages/*/node_modules/*
/packages/*/coverage/*
/packages/*/static/*
/packages/*/server/*
/packages/*/build/*
/packages/*/dist/*
/packages/resolute/README.md
/.vscode/*

.DS_Store
npm-debug.log*
*.tgz
*.pem
