/coverage/*
/build/*
/dist/*
/packages/*/coverage/*
/packages/*/static/*
/packages/*/server/*
/packages/*/build/*
/packages/*/dist/*
/.vscode/*
/scripts/*
**/*.txt
**/*.snap
*.toml
*.png
*.svg
*.jpg
*.jpeg
*.gif

.DS_Store
.eslintignore
.prettierignore
.gitignore
.gitattributes
.npmignore
.nvmrc
.browserslistrc
.env
LICENSE.txt
